body {
  /* margin: 0; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background:#0F0F0F; 
  
}


.firstblock{  display: flex;
  /* background-color: red; */
  justify-content: space-around;
  width: 100%; 
  margin: 10px 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
}

.fixed {
  background-color: #0F0F0F;
  /* padding: 10px; */
  /* margin: 10px; */
  display: flex;
  justify-content: space-between;
  
}

/* Show dropdown content when dropdown button is hovered over */
.fixed:hover .dropdown-content {
  display: block;
  
}
/* ---------------------------------------------------------------------------------UPDATED------------------------------------------------------------ */
.container
 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; /* Adjust container width as needed */
  margin: 10px 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 20px
}

.box {
 
    background-color: #262626;
  width: calc(33.33% - 10px); /* Adjust box width and spacing */
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-radius: 10px;
 

}

h3{
  color: white;
  text-align: center;
}




  .output {
    background-color:#6F635B ; 
    width: 100%; 
    min-height: 600px;
    max-height: auto;
    margin: 20px 100px;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding-top: 20px;
    overflow: auto;
  }



.button{
  background-color: #222;
  color: #fff;
  border: 2px solid #333;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #000;
  /* transition: background-color 0.3s ease; */
  transition: transform 0.3s ease;
}

.button:hover {
  background-color: #3A3A40; 
  transform: scale(1.1); /* Zoom in effect */
  
}


  /* Dropdown container styles */





 /* Dropdown button styles */
 .dropdown-button{
  background-color: #262626;
  color: white;
  
  border: 1px solid white;
  cursor: pointer;
  border-radius: 8px;
  width: auto;   
  text-align: center;
  margin-right: 20px;
}

/* Dropdown content styles (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Dropdown content options styles */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}



input{
  text-align: center;
  color: red;
  width: 80px;
  margin-bottom: 10px;
  border-radius: 50px;
  height: 35px;
  width: 100px;
  transition: transform 0.3s ease;
}
            
input :hover {
  color: black; /* Change text color to black */
  background-color: white; /* Change background color to white */
  transform: scale(1.1); /* Zoom in effect */
}


.dropdown-button#dropdown,
.dropdown-button#dropDownNonHolder{
  width: 120px;
  text: center;
  border: 1px solid white; 
}


.dropdown-button:hover {
  color: white;
  background-color: #3A3A40;
}



footer {
  background-color: #0F0F0F; /* Dark background color */
  color: white; /* White text color */
  padding: 10px;
  text-align: center ; /* Center-align text */
  height: 100px;
  width: 100%; /* Full width */
  
}

.customContainer{
  background-color: transparent ; 
  width: 100%; 
  /* margin: 20px 100px; */
  text-align: center;
  border-radius: 10px;
  color: white;
  padding-top: 20px;
  overflow: auto;
}
  
input.customMessage {
  min-width: 300px;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  overflow: auto;
  margin: 20px;
}