body {
  /* margin: 0; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background:#0F0F0F; 
  
}

.container
 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; /* Adjust container width as needed */
  margin: 10px 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 20px

  
  
}

.box {
 
    background-color: #262626;
  width: calc(33.33% - 10px); /* Adjust box width and spacing */
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-radius: 10px;
 

}

h3{
  color: white;
  text-align: center;
}




  .output {
    background-color:#6F635B ; 
    width: 100%; 
    min-height: 600px;
    max-height: auto;
    margin: 20px 100px;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding-top: 20px;
    overflow: auto;
  }



.button{
  background-color: #222;
  color: #fff;
  border: 2px solid #333;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14;
  cursor: pointer;
  box-shadow: 2px 2px 2px #000;
  transition: background-color 0.3s ease;
  
}

.button:hover {
  background-color: #913232; 
  /* background-color: #333; */
  color: #fff;
}


  /* Dropdown container styles */
  .fixed {
    background-color: #0F0F0F;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
 /* Dropdown button styles */
 .dropdown-button{
  background-color: #262626;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 45%;   
  text-align: center;
}

/* Dropdown content styles (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Dropdown content options styles */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

/* Show dropdown content when dropdown button is hovered over */
.fixed:hover .dropdown-content {
  display: block;
}

input{
  text-align: center;
  
  color: red;
  width: 80px;
  margin-bottom: 10px;
  border-radius: 50px;
height: 35px;
width: 100px;
}
            

.dropdown-button#dropdown,
.dropdown-button#dropDownNonHolder{
  width: 120px;
  text: center;
  /* border: 2px solir white; */
  /* background-color: red; */
  border: 1px solid white; 
}





.h1{
  color: red;
}


/* ------------------------ */

.winbet {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #0F0F0F;
  display: flex;
justify-content: center;
  align-items: center;
  padding: 0 20px;
  
}

.winbet {
  color: red;
  
}

footer {
  background-color: #0F0F0F; /* Dark background color */
  color: white; /* White text color */
  padding: 10px;
  text-align: center ; /* Center-align text */
  height: 100px;
  width: 100%; /* Full width */
  
}



